# TODO only Ember

snippet ecp "Ember.computed()"
Ember.computed('${1}', ${2} function() {
  ${4}
})${3:,}
endsnippet

snippet eob "Ember.observer()"
Ember.observer('${1}', ${2} function() {
	${4}
})${3:,}
endsnippet
